html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
nav ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
a { margin: 0px; padding: 0px; font-size: 100%; vertical-align: baseline; background: transparent; text-decoration: none; }
mark { background-color: rgb(255, 255, 153); color: rgb(0, 0, 0); font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0px; }
hr { display: block; height: 1px; border-width: 1px 0px 0px; border-right-style: initial; border-bottom-style: initial; border-left-style: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-image: initial; border-top-style: solid; border-top-color: rgb(204, 204, 204); margin: 1em 0px; padding: 0px; }
input, select { vertical-align: middle; }
li { list-style: none; }
html, body { width: 100%; height: 100%; position: relative; }
html { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body { font: 75% Arial, Helvetica, sans-serif; }
html { height: 100%; }

body { font-family: "Open Sans", sans-serif; background-color: rgb(16, 114, 156); background-image: -webkit-radial-gradient(50% 50%, ellipse cover, rgb(16, 114, 156), rgb(0, 0, 48) 100%); height: 100%; }

#edition {
    color: #0F6B95;
    font-size: 30vmin;
    position:absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0.4;
    text-align: center;
    font-style: italic;
    font-weight: 600;
}

#centered { 
    position: absolute;
    z-index: 15;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    opacity: 1.0;
    z-index: 100;
}

#logo {
    width: 9vmin;
    height: 7vmin;
    background-image: url('img/logo_dlss_horizontal_75.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#centered div {
    margin: auto;
    margin-bottom: 1vmin;
    text-align: center;
    text-shadow: 2px 2px #333;
    font-family: 'Open Sans', sans-serif;
    color: #EEE;
}

#title {
    font-size: 4vmin;
    display: flex;
}

#moreinfo {
    font-size: 1.5vmin;
}

#moreinfo div {
    margin-bottom: 0.2vmin;
}

#moreinfo div:last-child {
    margin-top: 1vmin;
}

canvas { display: block; vertical-align: bottom; }
#particles-js { z-index: 50; width: 100%; height: 100%; background-image: url(""); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; }
